<footer class="site-footer">
  <div class="container">
  
    <h1 class="site-title">
      <a href="/">
        Writing <br />JavaScript
      </a>
    </h1>

    <ul class="site-nav">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/consulting">Consulting</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <div class="mt5">
      {% include cityarcade.html %}
    </div>
  </div>
</footer
