<aside class="fixed bottom-2 right-2 dn db-l w-10">
  <!-- <p class="serif i light-silver f-12">our work:</p> -->

  <!-- <a href="/support" class="link light-silver hover-black pointer">
    <h1 class="f6 mt1 mb0">Support our work</h1>
    <p class="mv0 lh-title f6 mb3">Consider supporting <i>Writing JavaScript</i> to get our guides in EPUB, PDF, MOBI, HTML, & MD formats</p>
  </a>

  <a href="/consulting" class="link light-silver hover-black pointer">
    <h1 class="f6 mt4 mb0">JavaScript & Node.js Consulting</h1>
    <p class="mv0 lh-title f6">Hire us to build web applications.</p>
  </a> -->
</aside>
