<aside class="fixed bottom-2 right-2 dn db-l w-10">
  <p class="serif i light-silver f-12">our work:</p>

  <a href="/consulting" class="link light-silver hover-black">
    <h1 class="f6 mt1 mb0">JavaScript & Node.js Consulting</h1>
    <p class="mv0 lh-title">Hire us to build web applications.</p>
  </a>

  <a href="https://static.land" class="link light-silver hover-black" target="_blank">
    <h1 class="f6 mt4 mb0">StaticLand</h1>
    <p class="mv0 lh-title">Publish static sites with auto-SSL for custom domains.</p>
    <p class="mt1 mb0 lh-title f-12 tracking">https://static.land</p>
  </a>
</aside>
