<section class="tc pt2">
<h1 class="">Appreciate our work?</h1>

<p class="f6">Consider supporting <i>Writing JavaScript</i> through a <a href="https://gumroad.com/l/writingjs-subscribe" class="link blue hover-dark-blue">subscription</a> or <a href="https://gumroad.com/l/writingjs-subscribe" class="link blue hover-dark-blue">one-time contribution</a>. In return you'll get downloadable versions of all our guides in EPUB, PDF, MOBI, HTML, and markdown formats. When you subscribe you get all updates as they are released.</p>

<article class="cf">
  <div class="fl w-50">
    <article class="bg-white center mw5 ba b--black-10 mv4">
      <a href="https://gumroad.com/l/writingjs-subscribe" class="link gray hover-black db hover-bg-washed-yellow pa2">
        <img src="/assets/writingjavascript-subscribe-600x338.jpg" class="w-100 db" alt="Subscribe to get regular updates">
      </a>
    </article>
  </div>

  <div class="fl w-50">
    <article class="bg-white center mw5 ba b--black-10 mv4">
      <a href="https://gumroad.com/l/writingjs-onetime" class="link gray hover-black db hover-bg-washed-yellow pa2">
        <img src="/assets/writingjavascript-one-time-600x338.jpg" class="w-100 db" alt="Just get the current guides & posts">
      </a>
    </article>
  </div>
</article>

<h4 class="mt3 mb2 f3 measure-narrow m-auto">Not ready to pay to keep this publication running?</h4>
<p class="mv3">Join our newsletter and learn more.</p>

{% include newsletter.html %}
</section>
