---
layout: default
---

<div class="container">
  <div class="page">
    <div class="post-metadata">
      <span class="post-metadata-item post-author">
        {% for contributor in page.contributors %}
          {{ contributor }}
        {% endfor %}
      </span>
    </div>

    {% if page.title %}
    <h1 class="post-title mv3">{{ page.title }}</h1>
    {% endif %}

    <article class="post-content">
    {{ content }}
    </article>
  </div>

  {% unless page.support == false %}
  <hr>
  {% include support.html %}
  {% endunless %}
</div>
